---
extends: default

rules:
  line-length:
    max: 180
    level: warning
  brackets:
    level: warning
  colons:
    level: warning
  indentation:
    level: warning
    indent-sequences: consistent

ignore: |
  .github/stale.yml
